
body {
	background-image: url("/images/background.jpg");
}
#main, #resultPane {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
	background-color: rgba(39,40,34, .3);
	padding-bottom: 45px;
	padding-top: 20px;
	border-style: ridge;
	border-width: 5px;
	border-color: rgba(30,30,30,.3);
}

a, a:link, a:visited, a:active 
{
color: #38c;
text-decoration: none;
}

#setupSubmit {
	width: 100px;
	float: right;
}

#list, h2 {
	color: rgb(190,190,190);
}

ul.indexlist {
	list-style: circle;
	margin: auto;
	padding: auto;
}

form {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

input, textarea{
	width: 400px;
}

ul {
	list-style: none;
	margin: 0 !importanrt; 
	padding: 0 !importanrt;
}

label, #whiteText {
	color: rgb(190,190,190);
}

#registerDiv {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}

p {
	color: rgb(253, 151, 31);
}

#queryResult table{
	color: rgb(253, 151, 31);
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#queryResult, #sqlQuery {
	color: rgb(253, 151, 31);
}

#header {
	color: rgb(174, 129, 188);
}

#challenge {
	color: rgb(145, 226, 46);
}

button.loginButton {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 8px 16px;
	background: -moz-linear-gradient(
		top,
		#000000 0%,
		#2e2e2e);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#000000),
		to(#2e2e2e));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 0px solid #134201;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
}


